@model StudyC.Models.User

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = null;

}
    <head>
        <link rel="stylesheet" href="~/css/Users/Create.css">
    </head>
<body>
    <div w3-include-html="/Users/Create"></div>
    <div id="id01" class="modal">
        <form asp-action="Login" class="modal-content animate">
            <span onclick="document.getElementById('id01').style.display='none'" class="closeLI"
                  title="סגור">&times;</span>
            <div class="imgcontainer">

                <img src="~/img/logo.png" alt="Logo" class="avatarLI">
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="containerLI">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" id="username" placeholder="הכנס שם משתמש" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" id="password" placeholder="הכנס סיסמא" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <label id="checkLI">
                    <input type="checkbox" checked="checked" name="remember"> זכור אותי
                </label>
                <div class="form-group">
                    <input type="submit" value="התחבר" class="buttonLI" />
                </div>
                @if (ViewData["Error"] != null)
                {
                    <div class="errorView">@ViewData["Error"]</div>
                }
                <span class="pswLI">שכחת <a class="link_buttonLI" onclick="alert( 'סיסמא חלופית נשלחה למייל' );">סיסמא?</a></span>
            </div>
            <div class="containerLID">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtnLI">
                    ביטול
                </button>
                <span class="pswLI">
                    אין לך חשבון עדיין? <a class="link_buttonLI"
                                           onclick="log();" style="width:auto;">הירשם</a>
                </span>
            </div>
        </form>
    </div>

   

    <script>

        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>

        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /*loop through a collection of all HTML elements:*/
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("w3-include-html");
                if (file) {
                    /*make an HTTP request using the attribute value as the file name:*/
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /*exit the function:*/
                    return;
                }
            }
        };
    </script>


    <script>
        includeHTML();
    </script>
</body>

@section Css{
    <link rel="stylesheet" href="~/css/Users/Create.css" />
}
