@model StudyC.Models.Study

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

    <h4>Study</h4>
    <hr />*@
@*<div class="contact1">*@

<div class="container-contact1">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Information" class="control-label"></label>
            <input asp-for="Information" class="form-control" />
            <span asp-validation-for="Information" class="text-danger"></span>
        </div>

        <div>
            <a class="contact1-form-btn"asp-controller="Questions" asp-action="Create">הוספת שאלה</a>
        </div>

        <div class="container-contact1-form-btn">
            <input type="submit" value="צור" class="contact1-form-btn" />
            <div>
                <a class="contact1-form-btn" asp-action="Index">חזור</a>
            </div>
        </div>
    </form>
    </div>
    @*</div>*@

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    @section Css{
        <link rel="stylesheet" href="~/css/studies/Create.css" />
    }
