@model IEnumerable<StudyC.Models.Study>

@{
    ViewData["Title"] = "Users";
}



<div class="container-contact1">
    <span class="contact1-form-title">
        רשימת משתתפים
    </span>
    <table class="table">
        <thead>
            <tr>
                <th>
                    נושא
                </th>
                <th>
                    משתמשים
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Information)
                        </td>*@
                    <td>
                        <ul>
                            @foreach (var user in item.UserStudy)
                            {
                                @user.User.UserName
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/studies/container.css">
}
