*{
    font-family: 'Assistant', sans-serif;
}

body{
    background-image: linear-gradient(to right,  #ad76ec, white );
}

.about{
    font-size:  17px;
    line-height: 25px;
    margin-top: 70px;
    margin-right: 50px;
    color: rgb(0, 0, 0);
    text-align: right;
}
.about1
{color: rgb(0, 0, 0);
    font-size:  17px;
    margin-right:50px;
    text-align: right;
}

.pic{
    margin-top:70px;
    margin-left:100px;
 }




