@model IEnumerable<StudyC.Models.Study>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>*@


<div class="container">
    <div class="row">

        <div class="col-6">
            <div class="what-learn">
                <img src="~/img/what.png" width="25%" height="25%" alt="what learn"></img>
            </div>
        </div>

        <div class="col-lg-6 col-md-4 col-sm-2">

            @foreach (var item in Model)
            {
                <button class="bu" asp-action="Details" asp-route-id="@item.Id"><b>@Html.DisplayFor(modelItem => item.Subject)</b></button>

            }

        </div>


    </div>
</div>
@*</tbody>
    </table>*@

@section Css{
    <link rel="stylesheet" href="~/css/studies/index.css">
}
