@{
    ViewData["Title"] = "About";
}
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="col-lg-7 col-md-6 col-sm-5 float-right">
                <div>
                    <div>
                        <p class="about">
                            <b>
                                אנו שלוש סטודנטיות שנה שלישית במכללה למנהל,<br>
                                בתור סטודנטיות שעברו את שנה ב' אנו יודעות כמה מייגעת וקשה היא שפת C, <br>
                                כמה מעט חומר בעברית יש על שפת C באתרים חיצוניים ואם כבר יש חומר הוא <br>
                                בד"כ ישן, לא מעודכן, לא מובן ובעיקר לא נוח לקריאה. <br>
                                לכן, החלטנו ליצור אתר שמסביר בפשטות ומלא בדוגמאות קוד שניתן להעתיק לתוך <br>
                                סביבת העבודה של הלומד ומלא בתרגילים לתרגול עצמי, ובנוסף יש מבחן <br>
                                מסכם שמקנה תעודה לעוברים בהצלחה!
                            </b><br>
                        </p>
                        <p class="about1"><b>ורד שיבר | אסתי יעיש | רותי קצבורג</b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-3 float-right">
                <div class="pic">
                    <img src="~/img/about.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/css/Home/about.css">
}
