@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style_home.css">

<div class="container-fluid">
    <div class="row">
        <div dir="rtl" class="col-lg-7 col-md-6 col-sm-4 float-right">
            <div class="lern">
                <h4><b>ברוכים הבאים לאתר שלנו</b></h4>
                <h1>
                    <b>
                        אצלינו תוכלו ללמוד את שפת C בצורה פשוטה, <br>
                        נוחה ובקצב שלכם.
                    </b>
                </h1>
                <h3>
                    <b>
                        אז אם בא לכם להתחיל את צעדכם הראשונים בעולם התכנות, <br>
                        או סתם ללמוד עוד שפה שימושית לחצו על התחל ללמוד. בהצלחה!
                    </b>
                </h3>
            </div>
            <div class="start">
                <a href="what_learn.html"><b>התחל ללמוד</b></a>
            </div>
        </div>

        <div class="col-lg-5 col-md-4 col-sm-3 float-right">
            <p dir="rtl" class="box">
                <b>למה דווקא שפת C?</b><br>
                שפת C היא אחת משפות התכנות הנפוצות ביותר.<br>
                השפה נמצאת רמה אחת מעל שפות הסף הבסיסיות,<br>
                וידועה בפשטות, חוסכת במשאבים ויעילותה הגבוהה.<br>
                פשטותה היחסית של השפה הופכת אותה לבחירה נפוצה<br>
                ולשפת התכנות הראשונה אותה לומדים.<br>
                לשפה שימושים רבים וביצועים גבוהים:<br>
                מערכות הפעלה, מסדי נתונים, ומשחקים.<br>
                קוד הליבה של מערכות ההפעלה כמו:<br>
                לינוקס, חלונות ומקינטוש גם כתובות בשפה C<br>
            </p>
            <p dir="rtl" class="box1">
                <b>למה דווקא ללמוד אצלינו? </b><br>
                אין צורך בהכרה מוקדמת של השפה או של שפות תכנות אחרות - האתר מלמד את עקרונותיה החל מהבסיס.
                באתר תוכלו למצוא מגוון נושאים,תרגילים,ותעודה למי שעבר את המבחן המסכם.
            </p>

        </div>
    </div>
</div>
