@model StudyC.Models.Question

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

<h4>Question</h4>
<hr />*@
<div class="container-contact1">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Text" class="control-label"></label>
            <input asp-for="Text" class="form-control" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <a class="contact1-form-btn" asp-controller="options" asp-action="Create">הוספת תשובה</a>


        <div class="container-contact1-form-btn">
            <input type="submit" value="צור" class="contact1-form-btn" />
            <div>
                <a class="contact1-form-btn" asp-controller="Studies" asp-action="Create">חזור</a>
            </div>
        </div>
    </form>
</div>


@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Css{
    <link rel="stylesheet" href="~/css/studies/Create.css" />
}
